@import "../../styles/variables.scss";

.form {
  width: 75%;
  border: 1px solid $blueColor;
  padding: 60px 0!important;
}

.input {
  margin-bottom: 10px!important;
}

.submitButton {
  margin-bottom: 0!important;
}

.hidden {
  visibility: hidden;
}

.errorContainer {
  height: 14px!important;
  margin: 0!important;
}

.error {
  font-size: 18px;
  color: $redColor!important;
  position: relative;
  top: -18px;
  left: 14px;
}