@import "../../styles/variables.scss";

.form {
  width: 75%;
  border: 1px solid $blueColor;
  padding: 60px 0!important;
}

.input {
  margin-bottom: 10px!important;
}

.submitButton {
  margin-bottom: 0!important;
}