@import "../../styles/variables.scss";

.form {
  width: 75%;
  border: 1px solid #1890ff;
  padding: 60px 0!important;
}

.textInput {
  margin-bottom: 10px!important;
}

.submitButton {
  margin-bottom: 0!important;
}