@mixin sizes($width, $height: $width) {
  height: $height;
  width: $width;
}

@mixin font($font-weight, $font-size, $font-family) {
  font: $font-weight $font-size $font-family;
}

@mixin text($color, $font-weight, $font-size, $font-family) {
  color: $color;
  @include font($font-weight, $font-size, $font-family);
}
