$mainFont: 'Helvetica Neue', 'Helvetica', sans-serif;

$signFormTitleFontSize: 45px;
$signFormTitleLineHeight: 57px;
$signFormTextFontSize: 26px;

$blueColor: #1890ff;
$whiteColor: #fff;
$blackColor: #000;
$greenColor: green;
$redColor: #ff0000;