.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formWrapper {
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  width: 75%;
  border: 1px solid #1890ff;
  padding: 40px 0!important;
}

.title {
  text-align: center;
  font-size: 40px;
  line-height: 50px;
  margin-bottom: 30px;
}

.textInput {
  margin-bottom: 10px!important;
}

.submitButton {
  margin-bottom: 0!important;
}